# Obsidian Vault Development Directory
# Specify the absolute path to your Obsidian vault plugins directory for automatic sync on build/dev
# Example:
# OBSIDIAN_VAULT_DIR=C:/Users/Username/Documents/ObsidianVault/.obsidian/plugins/folder-notes
OBSIDIAN_VAULT_DIR=

