# Dependencies
node_modules/
bun.lock*

# IDE & Editors
.vscode/
.idea/
*.iml
.DS_Store

# Environment Variables
.env
.env.local

# Build & Release Distribution Artifacts
dist/
main.js
main.js.map
styles.css.map
*.zip

# Obsidian Local Configuration & Data
data.json
.obsidian/

# Python Virtualenv
venv/