@use 'variables' as *;
@use 'mixins' as *;

// General States & Utilities
.hide,
.hide-folder .folder-name,
.hide-folder-note .is-folder-note {
  display: none;
}

/* make.md plugin integration */
.hide-folder-note .mk-tree-node > .mk-tree-wrapper > .dropzone > .mk-tree-item.is-folder-note {
  opacity: 40%;
  display: flex;
}

.pointer-cursor,
.has-folder-note .nav-folder-title-content:hover,
.has-folder-note.view-header-breadcrumb:hover,
.nav-folder-collapse-indicator:hover,
.fn-delete-confirmation-modal-buttons span:hover,
.fn-delete-confirmation-modal-buttons input:hover {
  cursor: pointer !important;
}

.hide-folder-note :not(.show-folder-note-in-explorer):not(.fn-has-attachment-folder).only-has-folder-note .nav-folder-children {
  display: none !important;
}

.fn-warning-text {
  color: $warning-color;
}
