@use 'variables' as *;
@use 'mixins' as *;

// Tree Items, File Explorer & Path Styling
body:not(.is-grabbing) .tree-item-self.fn-is-active:hover,
body:not(.disable-folder-highlight) .tree-item-self.fn-is-active,
body:not(.disable-folder-highlight) .nav-folder-title.fn-is-active,
body:not(.disable-folder-highlight) .nav-folder.fn-is-active > .nav-folder-title,
body:not(.disable-folder-highlight) .nav-folder.fn-is-active > .tree-item-self {
  color: $nav-item-color-active !important;
  background-color: $nav-item-background-active !important;
  font-weight: $nav-item-weight-active;
}

body.folder-note-underline .has-folder-note .nav-folder-title-content,
body.folder-note-underline .has-folder-note .tree-item-inner,
body.folder-note-underline .nav-folder.has-folder-note .nav-folder-title-content,
body.folder-note-underline .nav-folder-title.has-folder-note,
.folder-note-underline .has-folder-note .nav-folder-title-content,
.folder-note-underline .nav-folder.has-folder-note .nav-folder-title-content,
.folder-note-underline .nav-folder-title.has-folder-note .nav-folder-title-content {
  text-decoration-line: underline !important;
  text-decoration-color: $text-faint !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 1px !important;
}

body.folder-note-underline-path .has-folder-note.view-header-breadcrumb,
.folder-note-underline-path .has-folder-note.view-header-breadcrumb {
  text-decoration-line: underline !important;
  text-decoration-color: $text-faint !important;
  text-decoration-thickness: 1px !important;
  text-underline-offset: 2px !important;
}

body.folder-note-bold .has-folder-note .nav-folder-title-content,
body.folder-note-bold .has-folder-note .tree-item-inner,
body.folder-note-bold .nav-folder.has-folder-note .nav-folder-title-content,
body.folder-note-bold .nav-folder-title.has-folder-note,
body.folder-note-bold .nav-folder-title.has-folder-note .tree-item-inner,
.folder-note-bold .has-folder-note .nav-folder-title-content,
.folder-note-bold .nav-folder.has-folder-note .nav-folder-title-content,
.folder-note-bold .nav-folder-title.has-folder-note .nav-folder-title-content,
.folder-note-bold-path .has-folder-note.view-header-breadcrumb {
  font-weight: bold !important;
}

body.folder-note-cursive .has-folder-note .nav-folder-title-content,
body.folder-note-cursive .has-folder-note .tree-item-inner,
body.folder-note-cursive .nav-folder.has-folder-note .nav-folder-title-content,
body.folder-note-cursive .nav-folder-title.has-folder-note,
.folder-note-cursive .has-folder-note .nav-folder-title-content,
.folder-note-cursive .nav-folder.has-folder-note .nav-folder-title-content,
.folder-note-cursive .nav-folder-title.has-folder-note .nav-folder-title-content,
.folder-note-cursive-path .has-folder-note.view-header-breadcrumb {
  font-style: italic !important;
}

.folder-note-hide-name-path .hide-folder-note-title-in-path .is-last-separator,
.folder-note-hide-name-path .hide-folder-note-title-in-path .path-is-folder-note {
  display: none;
}

/* Collapse Icon Handling */
.fn-folder-overview-collapse-icon {
  display: block !important;
}

.fn-has-no-files .collapse-icon,
.fn-hide-collapse-icon .has-folder-note.only-has-folder-note .tree-item-icon,
body.fn-hide-collapse-icon.fn-ignore-attachment-folder .only-has-folder-note .fn-empty-folder.fn-has-attachment-folder .tree-item-icon,
body.fn-hide-collapse-icon .only-has-folder-note .fn-empty-folder:not(.fn-has-attachment-folder) .tree-item-icon,
body.fn-hide-empty-collapse-icon :not(.only-has-folder-note) > .fn-empty-folder:not(.fn-has-attachment-folder) .tree-item-icon,
body.fn-hide-collapse-icon.only-has-folder-note:not(.is-collapsed):not(.show-folder-note-in-explorer) > .nav-folder-children {
  display: none;
}
