// Obsidian Design Tokens & Variable Mappings
$nav-item-color-active: var(--nav-item-color-active);
$nav-item-background-active: var(--nav-item-background-active);
$nav-item-weight-active: var(--nav-item-weight-active);
$background-primary: var(--background-primary);
$background-modifier-border: var(--background-modifier-border);
$color-accent: var(--color-accent);
$text-on-accent: var(--text-on-accent);
$text-normal: var(--text-normal);
$text-faint: var(--text-faint);
$warning-color: #fb464c;
$shadow-s: var(--shadow-s);
$radius-m: var(--radius-m);
$layer-notice: var(--layer-notice);
